<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle class="fw-lighter my-2">{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <ng-container *ngIf="!isLoadingData(); else loadingSpinner">
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ label }}</mat-label>
        <mat-chip-grid #optionsChipGrid>
          @for (option of options(); track option) {
            <mat-chip-row (removed)="onOptionRemove(option)">
              {{ option.value }}
              @if (option.removable) {
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              }
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          [placeholder]="placeHolder"
          [matChipInputFor]="optionsChipGrid"
          (matChipInputTokenEnd)="onOptionEntered($event)" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <div>
        <button class="me-1" mat-button (click)="resetOptions()">Reset</button>
        <button mat-stroked-button [disabled]="!optionsUpdated() || isUpdatingData()" (click)="saveOptions()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </mat-card-actions>
  </ng-container>
</mat-card>

<ng-template #loadingSpinner>
  <mat-card-content>
    <app-card-spinner></app-card-spinner>
  </mat-card-content>
</ng-template>
