<div class="container" *ngIf="!isDataEmpty(); else elseBlock">
  <md2-datepicker [(ngModel)]="date" type="month" openOnFocus="true" (onClose)="checkDate($event)"></md2-datepicker>
  <chart [options]="options" (load)="saveInstance($event.context)"></chart>
</div>
<ng-template #elseBlock>
  <div class="container no-data">
    <div class="col-sm-6 offset-sm-3">
      <div class="icon">
        <md-icon class="icon-alert">assessment</md-icon>
      </div>
      <div><h2>No expense data!</h2> <h6>Please enter an expense.</h6>
        <div class="alert-action">
          <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple routerLink="/home">Enter
            expense
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
