::ng-deep {
  .mat-header-cell:first-child,.mat-cell:first-child{
    flex:10%;
  }
  //Second column and header
  .mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:85%;
  }
  //Last column and header
  .mat-header-cell:last-child,.mat-cell:last-child{
    flex:10%
  }

  .error {
    background-color: #FFCDD2;
    font-weight: bold;
  }
}
