:host ::ng-deep.table-container {
  max-height: 500px;
  overflow: auto;

  .mat-row:nth-child(even) {
    background-color: red;
  }

  table {
    width: 100%;

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      padding: 15px;
    }
  }

  .column-width {
    flex: 0 0 35%;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
