<div class="container-fluid" id="login">
    <div class="row" *ngIf="isLoading">
        <div class="col-sm-8 offset-sm-2">
            <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <md-card>
                <md-card-title>Login</md-card-title>
                <md-card-content>
                    <div class="col-sm-12">
                        <md-input-container class="example-full-width">
                            <input mdInput placeholder="Email" type="text" [(ngModel)]="currentUser.email">
                        </md-input-container>
                    </div>
                    <div class="col-sm-12">
                        <md-input-container class="example-full-width">
                            <input mdInput placeholder="Password" type="password"
                                   [(ngModel)]="currentUser.password">
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <div class="col-sm-12">
                        <button md-raised-button color="secondary" (click)="signUp()">Sign up</button>
                        <button md-raised-button color="primary" (click)="login()">Log in</button>
                    </div>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>