<div class="row" id="login">
<div class="col-sm-8 offset-sm-2">
    <md-card>
        <md-card-title>Login</md-card-title>
        <md-card-content>
            <div class="col-sm-12">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Email" value="xxxxx@gmail.com">
                </md-input-container>
            </div>
            <div class="col-sm-12">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Password" value="******">
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions>
            <div class="col-sm-12">
                <button md-raised-button color="secondary" (click)="signUp()">Sign up</button>
                <button md-raised-button color="primary">Log in</button>
            </div>
        </md-card-actions>
    </md-card>
</div>
</div>