<div mdl-shadow="2">
  <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed #mdlLayout1="mdlLayout">
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>{{title}}</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only" *ngIf="shouldDisplay(); else notLogged">
          <a class="mdl-navigation__link" routerLink="/home">Home</a>
          <a class="mdl-navigation__link" routerLink="/view-expenses">View expenses</a>
          <a class="mdl-navigation__link" routerLink="/login" (click)="logOut()">Logout</a>
        </nav>
        <ng-template #notLogged>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" *ngIf="router.url === '/login'" routerLink="/signUp">Signup</a>
            <a class="mdl-navigation__link" *ngIf="router.url === '/signUp'" routerLink="/login">Login</a>
          </nav>
        </ng-template>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title>{{title}}</mdl-layout-title>
      <nav class="mdl-navigation" *ngIf="shouldDisplay(); else elseBlock">
        <a class="mdl-navigation__link" routerLink="/home" (click)="mdlLayout1.closeDrawer()">Home</a>
        <a class="mdl-navigation__link" routerLink="/view-expenses" (click)="mdlLayout1.closeDrawer()">View expenses</a>
        <a class="mdl-navigation__link" routerLink="/login" (click)="logOut()"
           (click)="mdlLayout1.closeDrawer()">Logout</a>
      </nav>
      <ng-template #elseBlock>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" *ngIf="router.url === '/login'" routerLink="/signUp"
             (click)="mdlLayout1.closeDrawer()">Signup</a>
          <a class="mdl-navigation__link" *ngIf="router.url === '/signUp'" routerLink="/login"
             (click)="mdlLayout1.closeDrawer()">Login</a>
        </nav>
      </ng-template>
    </mdl-layout-drawer>
    <mdl-layout-content>
      <div class="container-fluid" id="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mdl-layout-content>
  </mdl-layout>
</div>

