<div class="container-fluid" id="view-expense">

  <ng-container *ngIf="!isLoadingExpenses && expenseDataChart.length !==0; else noData">
    <div class="mat-card mb-5">
      <app-number-cards [data]="expenseDataChart"></app-number-cards>
    </div>

    <div class="row">
      <div class="mb-5 col-6">
        <mat-card>
          <mat-card-title>Category summary
            <mat-progress-bar *ngIf="isLoadingExpenses" mode="indeterminate"></mat-progress-bar>
          </mat-card-title>
          <mat-card-header>
            <mat-card-subtitle *ngIf="expenseDataChart.length !==0"> Click on category to view details
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-chart-summary *ngIf="!isLoadingExpenses && isDataReady" [data]="expenseDataChart"></app-chart-summary>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="mb-5 col-6">
        <mat-card>
          <mat-card-title>Monthly summary
            <mat-progress-bar *ngIf="isLoadingExpenses" mode="indeterminate"></mat-progress-bar>
          </mat-card-title>
          <mat-card-header>
            <mat-card-subtitle *ngIf="expenseDataChart.length !==0">Select month to view details for 5 month range
              proceeding
              selection
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-monthly-summary-chart *ngIf="!isLoadingExpenses && isDataReady"
                                       [data]="expenseDataTable"></app-monthly-summary-chart>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>Detail summary
            <mat-progress-bar *ngIf="isLoadingExpenses" mode="indeterminate"></mat-progress-bar>
          </mat-card-title>
          <mat-card-header>
            <mat-card-subtitle *ngIf="expenseDataTable.length !==0">Click on row to edit expense</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-table-summary *ngIf="!isLoadingExpenses && isDataReady" [data]="expenseDataTable"></app-table-summary>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>


  </ng-container>

  <ng-template #noData>

    <ng-container *ngTemplateOutlet="isLoadingExpenses ? loading: noData"></ng-container>

    <ng-template #loading>
      <app-card-spinner></app-card-spinner>
    </ng-template>
    <ng-template #noData>
      <div class="no-data">
        <div class="col-12 justify-content-center">
          <div class="icon justify-content-center">
            <mat-icon class="icon-alert">assessment</mat-icon>
          </div>
          <div><h2>No expense data</h2> <h6>Please enter an expense.</h6>
            <div class="alert-action">
              <button mat-raised-button color="primary" routerLink="/home">Enter
                expense
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </ng-template>

  <button mat-fab class="fab" routerLink="/home">
    <mat-icon>note_add</mat-icon>
  </button>
</div>


