::ng-deep {
  table {
    width: 750px;
  }

  .mat-list-base {
    .mat-list-item {
      height: 29px;
      font-size: 12px;
    }
  }

  .error {
    background-color: #FFCDD2;
    font-weight: bold;
  }
}
