
.header {
  padding-left: 0px !important;
  padding-right: 0px !important;

  .bg-faded {
    background-color: #1565C0;
    color: #EEEEEE;
  }

  .group-options {
    margin-top: 5px;
  }

  .navbar-brand {
    color: #EEEEEE;
  }

  .navbar-toggler {
    color: #EEEEEE;
  }
}

.fa {
  margin-right: 4px;
}

::ng-deep .mat-nav-list {
  a {
    width: 100%;
    color: #2196F3 !important;
    align-content: flex-start;
  }
}

.header-container {
  display: flex;
  flex-direction: row;

  .header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
