@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();


$primary: mat-palette($mat-light-blue, 700);
$accent:  mat-palette($mat-orange, 800, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);


@include angular-material-theme($theme);
@include covalent-theme($theme);

// Active icon color in list nav
mat-nav-list, mat-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }
  }
}

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Apply theme for this app

// NGX Charts
[ngx-charts-axis-label] text {
  fill: mat-color($foreground, secondary-text);
}
.tick text {
  fill: mat-color($foreground, disabled);
}
.gridline-path {
  &.gridline-path-horizontal,
  &.gridline-path-vertical {
    stroke: rgba(black, 0.06);
  }
}
.legend-title-text {
  color: mat-color($foreground, secondary-text);
}
mat-card-title{
  &:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
