.mat-mdc-card-avatar {
  height: 3em;
  font-size: 35px;
  width: 3em;
  background: var(--mat-sys-surface-dim);
  border: 2px solid var(--mat-sys-outline-variant);
  text-align: center;
  line-height: 3em;
}
