<div class="container-fluid">
  <div class="row" *ngIf="isLoading">
    <div class="col-sm-6 offset-sm-3">
      <mdl-progress [indeterminate]="true"></mdl-progress>
    </div>

  </div>
  <form #f="ngForm" novalidate (ngSubmit)="checkForm(f.value, f.valid, f)">
    <div class="row" id="signUp">
      <div class="col-sm-6 offset-sm-3">
        <md-card>
          <md-card-title>Sign Up</md-card-title>
          <md-card-content>
            <div class="row">
              <div class="col-sm-12">
                <md-input-container class="example-full-width">
                  <input mdInput
                         placeholder="First Name"
                         type="text"
                         name="fName"
                         #fName="ngModel"
                         [(ngModel)]="currentUser.firstName"
                         required minlength="2">
                </md-input-container>

                <div *ngIf="fName.errors && (fName.dirty || fName.touched)"
                     class="alert alert-danger">
                  <small>First Name is required (minimum 2 characters).</small>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <md-input-container class="example-full-width">
                  <input mdInput
                         placeholder="Last Name"
                         name="lName"
                         #lName="ngModel"
                         type="text" [(ngModel)]="currentUser.lastName"
                         required minlength="1">
                </md-input-container>

                <div *ngIf="lName.errors && (lName.dirty || lName.touched)"
                     class="alert alert-danger">
                  <small>Last Name is required (minimum 1 characters).</small>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <md-input-container class="example-full-width">
                  <input mdInput
                         placeholder="email"
                         type="email"
                         name="formEmail"
                         #formEmail="ngModel"
                         [(ngModel)]="currentUser.email"
                         [email]="true">
                </md-input-container>

                <div *ngIf="formEmail.errors && (formEmail.dirty || formEmail.touched)"
                     class="alert alert-danger">
                  <small>Valid email is required.</small>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <md-input-container class="example-full-width">
                  <input mdInput
                         placeholder="password"
                         type="password"
                         name="pswd"
                         #pswd="ngModel"
                         [(ngModel)]="currentUser.password" required minlength="6">
                </md-input-container>

                <div *ngIf="pswd.errors && (pswd.dirty || pswd.touched)"
                     class="alert alert-danger">
                  <small>Password length must be 6 characters.</small>
                </div>
              </div>
            </div>

          </md-card-content>
          <md-card-actions>
            <div class="col-sm-12">
              <button class="col-sm-12" type="submit" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple
                      [disabled]="!f.form.valid">Register
              </button>
            </div>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </form>
</div>
