.footer {
  .fixed-bottom {
    height: 50px;
  }
  .bg-faded {
    background-color: #212121;
    color: #EEEEEE;

    a {
      color: #EEEEEE;
      text-decoration: none;
    }
  }

  md-icon {
    font-size: 12px;
  }

}

footer.mdl-mini-footer {
  padding: 4px 16px;

  a {

  }
  a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: none;
  }

  .mdl-mini-footer__social-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #9e9e9e;
    font-size: x-large;
    border: none;
    cursor: pointer;

    &:hover{
      color: #FFFFFF;
    }
  }

}
