<!--<div class="footer fixed-bottom">
  <div class="panel-footer text-center">
    <p class="tcenter col-sm-12"><small>Expenses Logger <a href="" target="_blank">by Erick Boyzo</a> // Version 1.0 <a href="" target="_blank">Repo Found here</a> <md-icon>home</md-icon></small></p>
  </div>
</div>-->
<nav class="navbar fixed-bottom navbar-light bg-faded">
  <div class="panel-footer text-center">
    <p class="tcenter col-sm-12"><small>Expenses Logger <a href="" target="_blank">by Erick Boyzo</a> // Version 1.0 <a href="" target="_blank">Repo Found here</a> <md-icon>home</md-icon></small></p>
  </div>
</nav>
