<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Expense Tracker
      <small>by Erick Boyzo</small>
    </div>
    <ul class="mdl-mini-footer__link-list" *ngIf="shouldDisplay()">
      <li *ngIf="router.url === '/view-expenses'"><a routerLink="/home">Home</a></li>
      <li *ngIf="router.url === '/home'"><a routerLink="/view-expenses">View Expenses</a></li>
    </ul>

    <ul class="mdl-mini-footer__link-list" *ngIf="!shouldDisplay()">
      <li *ngIf="router.url === '/login'"><a routerLink="/signUp">Register</a></li>
      <li *ngIf="router.url === '/signUp'"><a routerLink="/login">Login</a></li>
    </ul>

  </div>
  <div class="mdl-mini-footer__right-section">
    <button class="mdl-mini-footer__social-btn" (click)="navigateToCorrectLink('linkedin')"><i
      class="fa fa-linkedin-square" aria-hidden="true"></i></button>
    <button class="mdl-mini-footer__social-btn" (click)="navigateToCorrectLink('github')"><i class="fa fa-github"
                                                                                             aria-hidden="true"></i>
    </button>
    <button class="mdl-mini-footer__social-btn" (click)="navigateToCorrectLink('bitbucket')"><i class="fa fa-code"
                                                                                                aria-hidden="true"></i>
    </button>
  </div>
</footer>
