<div class="table-responsive" *ngIf="!isDataEmpty(); else elseBlock">

  <table class="table table-striped table-hover" [md2Data]="expensesData"
         #md2="md2DataTable"
         [rowsPerPage]="10"
         [(activePage)]="activePage">
    <thead>
    <tr>
      <th md2SortBy="name">Name</th>
      <th md2SortBy="amount">Amount</th>
      <th md2SortBy="date">Date</th>
      <th md2SortBy="category">Category</th>
      <th md2SortBy="type">type</th>
      <th md2SortBy="comments">Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of md2.data" (click)="editData(i)">
      <td>{{i.name}}</td>
      <td>{{i.amount}}</td>
      <td>{{i.date}}</td>
      <td>{{i.category}}</td>
      <td>{{i.type}}</td>
      <td>{{i.comments}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <md2-pagination [rowsPerPageSet]="[5,10,15]"></md2-pagination>
      </td>
    </tr>
    </tfoot>
  </table>

</div>




<ng-template #elseBlock>
  <div class="container no-data">
    <div class="col-sm-6 offset-sm-3">
      <div class="icon">
        <md-icon class="icon-alert">list</md-icon>
      </div>
      <div><h2>No expense data!</h2> <h6>Please enter an expense.</h6>
        <div class="alert-action">
          <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple routerLink="/home">Enter expense</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
