/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
  body {
  background-color: #EEEEEE;
  .container-fluid{
  padding-top:60px;
  padding-bottom:60px;
  }
  }


}
