<div>
  <div class="d-flex flex-row justify-content-between flex-wrap px-4 my-3">
    <div>
      <span class="border-end p-2">{{ selection.selected.length }} selected</span>
      <button mat-button class="ms-1" [disabled]="!selection.selected.length" [matMenuTriggerFor]="bulkEdit">
        Modify
        <mat-icon>edit_note</mat-icon>
      </button>
      <mat-menu #bulkEdit="matMenu">
        <button mat-menu-item (click)="openBulkEditDialog('category')">Edit Category</button>
        <button mat-menu-item (click)="openBulkEditDialog('type')">Edit Type</button>
        <button mat-menu-item (click)="openBulkEditDialog('delete')">Delete</button>
      </mat-menu>
    </div>
    <div>
      @if (showFilters()) {
        <button mat-button class="me-2" (click)="toggleFilters()">
          <mat-icon>filter_list_off</mat-icon>
          Hide Filters
        </button>
      } @else {
        <button mat-button class="me-2" (click)="toggleFilters()">
          <mat-icon>filter_list</mat-icon>
          Filters
        </button>
      }
    </div>
  </div>
  @if (showFilters()) {
    <mat-divider class="mb-3"></mat-divider>
    <div class="ms-3 mt-3 mb-3">
      <mat-label class="mb-3">Category</mat-label>
      <div class="d-flex flex-wrap mt-1 gap-2">
        <mat-chip-listbox [multiple]="true" [formControl]="selectedFilters">
          <mat-chip-option *ngFor="let category of filterCategories()" [value]="category">
            {{ category }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="ms-3 mb-3">
      <mat-label class="mb-3">Source</mat-label>
      <div class="d-flex flex-wrap mt-1 gap-2">
        <mat-chip-listbox [multiple]="false" [formControl]="selectedSourceFilters">
          <mat-chip-option *ngFor="let source of filterSources()" [value]="source">
            {{ source }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  }
  <div class="table-container">
    <table mat-table [dataSource]="expensesData" matSort #sorter="matSort">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleHeaderCheckbox() : null"
            [checked]="selection.hasValue() && isAllSelected"
            [indeterminate]="selection.hasValue() && !isAllSelected">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleSelection(element) : null"
            [checked]="selection.isSelected(element)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'column-width'">Name</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'column-width'">Amount</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">{{ element.amount | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'column-width'">Date</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">{{ element.date | date: 'MMM dd, yyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'column-width'">Category</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
          <mat-chip>{{ element.category }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'column-width'">Payment Type</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'column-width'">Details</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
          <button mat-button (click)="editData(element)">
            Details
            <mat-icon iconPositionEnd class="ms-1">arrow_forward</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
