<div class="container-fluid" id="home">
  <div class="row">

    <div class="col-12 col-md-6 offset-md-3">
      <mat-card>
        <mat-card-title>User Info</mat-card-title>
        <mat-card-header>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngIf="!isLoadingUserInformation;else loadingSpinner">
          <mat-card-content>
            <div *ngIf="!isLoadingUserInformation" class="row">
              <div class="col-sm-12 info-alignment justify-content-center">
                <mat-icon class="account">account_circle</mat-icon>
                <div class="justify-content-center">
                  <span class="info-content">{{user.firstName}} {{user.lastName}}</span>
                </div>
                <div class="d-flex justify-content-around user-summary">
                  <div class="user-summary__section">
                    <label class="text-muted">User since</label>
                    <div class="info-content">{{user.creationDate  | date:'mediumDate'}}</div>
                  </div>

                  <div class="divider"></div>

                  <div class="user-summary__section">
                    <label class="text-muted">Expenses logged</label>
                    <div class="info-content">{{user.expensesEntered || 0}}</div>
                  </div>

                  <div class="divider"></div>

                  <div class="user-summary__section">
                    <label class="text-muted">Last login</label>
                    <div class="info-content">{{user.lastLogin  | date:'mediumDate'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 offset-md-3">
      <mat-card>
        <mat-card-title>Expense Categories</mat-card-title>
        <ng-container *ngIf="!isLoadingCategories && !isLoadingUserInformation; else loadingSpinner">
          <mat-card-header>
            <mat-card-subtitle>Add/Remove Expense Categories Below
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let category of categories; let i = index"
                          [selectable]="false"
                          [removable]="category.removable"
                          (removed)="removeCategory(category.value, i)">
                  {{category.value}}
                  <mat-icon matChipRemove *ngIf="category.removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add category..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="false"
                       (matChipInputTokenEnd)="onCategoryEntered($event)">
              </mat-chip-list>
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-end">
              <button mat-button color="primary" (click)="resetCategories()">Reset
              </button>
              <button mat-raised-button color="primary"
                      [disabled]="!categoriesUpdated || isLoadingCategories" (click)="saveCategories()">
                <mat-icon>save</mat-icon>
                <span>Save</span></button>
            </div>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3" *ngIf="!isLoadingUserInformation">
      <app-log-expense></app-log-expense>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <mat-card>
        <mat-card-title>Import CSV Expenses</mat-card-title>
        <mat-card-content>
          <div class="my-5">
            <mat-horizontal-stepper linear (selectionChange)="onStep($event)">
              <mat-step label="Import">
                <app-expense-import-guidance></app-expense-import-guidance>
              </mat-step>
              <mat-step label="Review Expenses Imported">
                <app-expense-import-grid [data]="importedExpenses"
                                         (saveAction)="saveImportedExpenses()"></app-expense-import-grid>
              </mat-step>
              <mat-step label="All Done" [completed]="importComplete">
                <div class="d-flex flex-column">
                  <div class="d-flex justify-content-center">
                    <h2>
                      <mat-icon>check_circle_outline</mat-icon>
                      Expenses Saved.
                    </h2>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" routerLink="/dashboard">
                      <mat-icon>insert_chart</mat-icon>
                      View Expenses Dashboard
                    </button>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row button-row">
            <div class="col-12">
              <div class="float-right">
                <app-expense-import (dataExported)="dataExported($event)"></app-expense-import>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <button mat-fab class="fab" routerLink="/dashboard">
    <mat-icon>insert_chart</mat-icon>
  </button>
</div>

<ng-template #loadingSpinner>
  <mat-card-content>
    <app-card-spinner></app-card-spinner>
  </mat-card-content>
</ng-template>
